::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffeb00;
}

input[type="checkbox"] {
	width: 26px;
	height: 26px;
	border-radius: 6px;
}
