$myFont: 'Poppins', sans-serif;

$primary-color: linear-gradient(119deg, rgba(134,174,225,1) 25%, rgba(155,210,248,1) 100%);
$secondary-color: linear-gradient(119deg, rgba(81,102,128,1) 25%, rgba(113,140,160,1) 100%);

$text-dark: #272727;
$text-light: #fff;

$myBorder: 1px solid #696969;

$myBoxShadow: 0 0 8px #969696;