$myFont: 'Rubik', sans-serif;

$bg-dark: #36454F; 
$bg-light: #ececec;

$primary-color: #FA8072;
$secondary-color: #006D5B;

$text-dark: #2A2F23;
$text-light: #fff;

$myBorder: 1px solid #696969;

$myBoxShadow: 0 0 8px #969696;